streamlit
langchain
langchain-community
langchain-huggingface
dotenv
faiss-cpu
pytesseract
pillow
opencv-python-headless
python-docx
python-pptx
pandas
numpy
huggingface_hub
requests
transformers
sentence-transformers   
torch
PyPDF2
pymupdf
pdfminer.six
pypdf

